export OS_AUTH_URL=http://con
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=mypro
export OS_PROJECT_DOMAIN_NAME=def
export OS_USERNAME=ad
export OS_USER_DOMAIN_NAME=def
export OS_PASSWORD=alta3
